@model Asp.NETMVCCRUD.ViewModel.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    
}

<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/style.css" rel='stylesheet' type='text/css' />

<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<h1 style="font-size:40px">Support System Web Application</h1>
<h2>Register</h2>


<div>
    @using (Html.BeginForm("SaveRegisterDetails", "Account"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-12">@ViewBag.Message</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2" style="font-size:20px">@Html.LabelFor(a => a.FirstName)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })</div>
        </div><br />
        @*<div class="row">
                <div class="col-lg-2">@Html.LabelFor(a => a.LastName)</div>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })</div>
            </div><br />*@
<div class="row">
    <div class="col-lg-2" style="font-size:20px">@Html.LabelFor(a => a.Email)</div>
    <div class="col-lg-10">@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })</div>
    <div class="clear-loading spinner" style="margin-right:20%;margin-top:-10%">
        <span></span>
    </div>
</div><br />
        <div class="row">
            <div class="col-lg-2" style="font-size:20px">@Html.LabelFor(a => a.Password)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Password, new { @class = "form-control", type = "Password" })</div>
        </div><br />
        <div style="padding-bottom:10px">
            <input type="submit" value="Register" class="btn btn-primary" />
            @*<input type="button" value="Sign in" class="btn btn-success" />*@
            <a class="btn btn-success" href="/Account/Login">Sign in</a>
        </div>
        <h6>Already have Account? Sign in :)</h6>
    }



</div>

